{% extends 'base.html' %}


{% block content %}

    <h1>Lesson Plans</h1>
{% for lesson in lesson_plan_list %}

<div class="card">
    <div class="card-header">
        <strong> Contributor:</strong> {{ lesson.contributors }}</strong>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ lesson.title }}</h5>
      {% if lesson.verified %}
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
      </svg>
      {% endif %}
      <p class="card-text">
        <ul>
            <strong>Date Published: </strong>{{ lesson.pub_date }}<br>
            
            <strong>Grade Level:</strong> {{ lesson.grade_level }}<br>
            <strong>Subject:</strong> {{ lesson.subject }}<br>
            <strong>Short Description:</strong> {{ lesson.description }}<br>

        
            </ul>
            <br>


      </p>
      <strong>Download Lesson Plan:</strong><br>
      <a {{ lesson.lesson_plan.web }} href="{{lesson.lesson_plan.url}}" download class="btn btn-primary">Download</a>
    </div>
  </div>

    {% endfor %}
{% endblock %}