{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ lesson_plan.title }}</title>
</head>
<body>
    <h1>{{ lesson_plan.title }}</h1>
    <p><strong>Contributor:</strong> {{ lesson_plan.contributors }}</p>
    <p><strong>Date Published:</strong> {{ lesson_plan.pub_date }}</p>
    <p><strong>Grade Level:</strong> {{ lesson_plan.grade_level }}</p>
    <p><strong>Subject:</strong> {{ lesson_plan.subject }}</p>
    <p><strong>Short Description:</strong> {{ lesson_plan.description }}</p>
    <p><strong>Download Lesson Plan:</strong></p>
    <a href="{{ lesson_plan.lesson_plan.url }}" download>Download</a>

    <h2>Comments...</h2>
    <br/>
    {% if not lesson_plan.comments.all %}
        No Comments <a href="{% url 'add_comment' lesson_plan.id %}"> Add Comment</a>
    {% else %}
        {% for comment in lesson_plan.comments.all %}
            <strong>{{ comment.name }}</strong>
            <br/>
            {{ comment.body }}
        {% endfor %}
    {% endif %}
</body>
</html>