{% extends 'base.html' %}

{% block content %}

<h1><strong>Lesson Plan</strong></h1>
<div class="card">     
    </div>
  
    <div class="card-body">
      <h5 class="card-title">{{ lesson_plan.title }}</h5>
      {% if lesson_plan.verified %}
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
      </svg>
      {% endif %}
      
      <p class="card-text">
        <ul>
            <strong>Contributor: </strong>{{ lesson_plan.contributors }}<br>
            <strong>Date Published: </strong>{{ lesson_plan.pub_date }}<br>
            <strong>Grade Level:</strong> {{ lesson_plan.grade_level }}<br>
            <strong>Subject:</strong> {{ lesson_plan.subject }}<br>
            <strong>Short Description:</strong> {{ lesson_plan.description }}<br>

        
            </ul>
            <br>


      </p>
      <strong>Download Lesson Plan:</strong><br>
     
      <a href="{{lesson_plan.lesson_plan.url}}" download class="btn btn-primary">Download</a>
     
    </div>


{% endblock %}