body {
    background-color: #f4f4f9;
    color: #000000;
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
}

.navbar-nav .nav-link:hover {
    background-color: #ffffff !important;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

